@page
@model GamingAnalytics.Pages.LoginModel
@{
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>

    
</head>
<body>

    <h1>Welcome @Model.FullName</h1>
    <h4>This is my 4th year project in which I use the Riot Games Api to pull data from their games</h4>
    <h5>a few examples are listed below in what i do.</h5>
    <div id="gallery-text">
        <div id="gallery-text-left" style="float:left">
            <p id="gallery-paragraph-1"></p>
            <h5>My list of features</h5>
            <p>The pages</p>
            <ul>
                <li>We have the index page here where we have the features</li>
                <li>We have the login page where a user can use google to sign in</li>
                <li>We have the Data page where a user can get specific but limited data about any users</li>
                <li>And finally we have the dashboard where there are more data per users</li>
            </ul>
        </div>
        <div id="gallery-text-right" style="float:right">
            <p id="gallery-paragraph-2"></p>
            <p>Now some Features</p>
            <ul>
                <li>4 charts giving various data a visualisation</li>
                <li>list of various data from previous games</li>
                <li>search feature for other users</li>
            </ul>
        </div>


    </div>


</body>


</html>